@import url("https://fonts.googleapis.com/css2?family=Coiny&family=Sono:wght@200..800&display=swap");
body {
  padding: 20px 50px;
  background-color: rgb(42, 40, 44);
  color: white;
}

h1 {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  font-family: "Coiny", sans-serif;
}

.fact {
  line-height: 1.4;
  font-size: 20px;
  font-family: "Sono", sans-serif;
}

.fact span {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Coiny", sans-serif;
}

ul {
  list-style: none;
}

section li {
  background-color: rgba(99, 99, 99, 0.418);
  padding: 10px 20px;
  border-radius: 10px;
  margin: 10px;
}

img {
  height: 4rem;
  width: 4rem;
}

a {
  color: grey;
  text-decoration: none;
}

button {
  border-radius: 5px;
  margin-bottom: 10px;
}

aside button {
  width: 120px;
  background: black;
  background: linear-gradient(
    rgb(219, 123, 45) 0%,
    rgb(199, 29, 108) 15%,
    rgb(113, 13, 160) 75%,
    rgb(101, 49, 221) 100%
  );
  color: white;
}
