@import url("https://fonts.googleapis.com/css2?family=Coiny&family=Sono:wght@200..800&display=swap");
body {
  padding: 20px 50px;
  background-color: #2a282c;
  color: white;
  font-family: "Sono", sans-serif;
}

/*Lessons*/
h1 {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  font-family: "Coiny", sans-serif;
}

.fact {
  line-height: 1.4;
  font-size: 20px;
  letter-spacing: -1px;

  display: flex;
  align-items: center;
  gap: 24px;
}

.fact div {
  margin-left: auto;
}

.fact span {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Coiny", sans-serif;
}

.fact--form {
  background-color: #444;
  padding: 16px 40px;
  border-radius: 3px;
  text-align: center;
}

.tag {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Coiny", sans-serif;
  padding: 5px 15px 2px;
  border-radius: 20px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header div {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
}

section li {
  background-color: #444;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 10px;
}

img {
  height: 4rem;
  width: 4rem;
}

a {
  color: #a8a8a8;
  text-decoration: none;
}

button {
  border-radius: 5px;
  margin-bottom: 10px;
}

aside button {
  width: 120px;
  background: #636363;
  background: linear-gradient(
    rgb(219, 123, 45) 0%,
    rgb(199, 29, 108) 15%,
    rgb(113, 13, 160) 75%,
    rgb(101, 49, 221) 100%
  );
  color: white;
}

main {
  display: grid;
  grid-template-columns: 250px 1fr;
}
